main{
    width: 50vw;
    height: 50vh;
    border: 3px solid red;
    overflow: hidden;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

section{
    display: flex;
    width: 200vw;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
section>div{
    display: flex;
    width: 50vw;
    height: 50vh;
}

section>div:first-child{
    background-image: url("assets/images/slide1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section>div:nth-child(2){
    background-image: url("assets/images/slide2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section>div:nth-child(3){
    background-image: url("assets/images/slide3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section>div:nth-child(4){
    background-image: url("assets/images/slide4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slide {

    0%, 20%{
        transform: translateX(0%);
    }
    25%, 45%{
        transform: translateX(-25%);
    }
    50%, 70%{
        transform: translateX(-50%);
    }
    75%, 100%{
        transform: translateX(-75%);
    }
}